 
    <!-- banner for sale descount -->
    <section class="container-fluid saleBanner" id="Man-saleBanner">
            <div class="jumbotron">
                <h1 class="h4 btn">#shopping with 40% off</h1>
                <p class="lead">Explore new things every day</p>
                <hr class="my-2">
                
              
                    <a class="shop-btn " href="#menSection" >Shop Now</a>
              
            </div>
        </section>
        <!-- womens wear section -->
        
         