{% load static %}

<header>
        <div class="container-fluid row ">
            <div class="col-sm-12 col-md-5 textSection">
                    <div class="jumbotron ">
                            <h1 class="h1 ">Make Your Choices</h1>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat.</p>
                           
                            
                            
                                <a class="btn  btn-md" href="#womenSection" role="button" >explore now</a>
                            
                        </div>
            </div>
                
                <div class="col-sm-12 col-md-7 shoppingImg">
                        <svg class="rect" xmlns="http://www.w3.org/2000/svg" width="742" height="1080" viewBox="0 0 742 1080">
                            <rect id="Rectangle_20" data-name="Rectangle 20" width="742" height="1080" fill="#ddb4b8"/>
                          </svg>
                    <img src="{% static 'products/img/men.png' %}"  alt="" id="men">
                    <img src="{% static 'products/img/women.png' %}" alt="" id="women">
                </div>
        </div>
    
    </header>
    