{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block 'style' %}
   <style>
       body{
           background: #ddb4b8
       }
       .container{
    border-radius: .2rem;
    margin: auto;
    padding: 2%;
    margin-top: 6rem;
}
.login{
    background: #dee2e6;
    padding: 2rem;
    border-radius:5px
}
   </style>
{% endblock 'style' %}

{% block 'webContent' %}


<div class="container row mt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 mx-auto login">
            <h4> log In To your Account</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value='Log In' class="form-control btn text-light">
            </form>
            
        </div>
    </div>

{% endblock 'webContent' %}
